In [3]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
# Load the data in a data frame and execute the head function.
directory = os.fsencode('data/return-data')

df = []

for filename in os.listdir(directory):
    file = os.path.join(directory, filename).decode("utf-8")
    df.append(pd.read_json(file, lines=True))
   
train = pd.concat(df)
train.head()

,transactionId,basket,zipCode,totalAmount,returnLabel
0,1007115501,"[4, 1, 5, 2, 2, 3, 4, 0, 4, 0, 3]",1838,891,0
1,3580371052,"[5, 5, 1, 5, 1, 2]",2413,396,0
2,6590707155,"[1, 2, 2, 3, 0, 2]",8821,660,0
3,3727164678,"[1, 1, 1, 4, 1, 4]",7065,216,0
4,1926170114,[4],2072,87,0

In [5]:
# Use the column "returnLabel" as the target variable.
# Use the column "totalAmount" as a feature (yes, we only use one feature in this exercise).

totalAmount = pd.get_dummies(train['totalAmount'],drop_first=True)

In [6]:
train.drop(['basket','transactionId','zipCode'],axis=1,inplace=True)
train = pd.concat([train,totalAmount],axis=1)
train.head()

,totalAmount,returnLabel,11,12,13,14,15,16,17,18,...,1380,1391,1397,1400,1408,1452,1512,1560,1694,1720
0,891,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,396,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,660,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,216,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,87,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Do a train/test data split.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train.drop('returnLabel',axis=1),
    train['returnLabel'], 
    test_size=0.30,
    random_state=101
)

In [8]:
# Train a logistic regression model on the train data.
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

In [9]:
# Evaluate your classifier on the test data and print the results.
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
print(classification_report(y_test,predictions))
print("Accuracy:",accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      9069
           1       0.00      0.00      0.00       231

    accuracy                           0.98      9300
   macro avg       0.49      0.50      0.49      9300
weighted avg       0.95      0.98      0.96      9300

Accuracy: 0.9751612903225807

/home/mathias/PyCharmProjects/DataScience/venv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))