In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
%matplotlib inline

In [2]:
# Load the data in a data frame and execute the head function.
directory = os.fsencode('/home/mathias/PhpstormProjects/DataScience/week5/data/return-data')

df = []

for filename in os.listdir(directory):
    file = os.path.join(directory, filename).decode("utf-8")
    df.append(pd.read_json(file, lines=True))
   
train = pd.concat(df)

In [3]:
train.head()

,basket,returnLabel,totalAmount,transactionId,zipCode
0,"[4, 1, 5, 2, 2, 3, 4, 0, 4, 0, 3]",0,891,1007115501,1838
1,"[5, 5, 1, 5, 1, 2]",0,396,3580371052,2413
2,"[1, 2, 2, 3, 0, 2]",0,660,6590707155,8821
3,"[1, 1, 1, 4, 1, 4]",0,216,3727164678,7065
4,[4],0,87,1926170114,2072

In [4]:
train['c_0'] = train.apply(lambda row : row['basket'].count(0), axis = 1) 
train['c_1'] = train.apply(lambda row : row['basket'].count(1), axis = 1) 
train['c_2'] = train.apply(lambda row : row['basket'].count(2), axis = 1) 
train['c_3'] = train.apply(lambda row : row['basket'].count(3), axis = 1) 
train['c_4'] = train.apply(lambda row : row['basket'].count(4), axis = 1) 
train['c_5'] = train.apply(lambda row : row['basket'].count(5), axis = 1) 
train.drop(['basket', 'totalAmount', 'transactionId','zipCode' ],axis=1,inplace=True)

In [5]:
train.head()

   returnLabel  c_0  c_1  c_2  c_3  c_4  c_5
0            0    2    1    2    2    3    1
1            0    0    2    1    0    0    3
2            0    1    1    3    1    0    0
3            0    0    4    0    0    2    0
4            0    0    0    0    0    1    0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    train.drop('returnLabel',axis=1),
    train['returnLabel'], 
    test_size=0.30,
    random_state=101
)

In [7]:
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

In [8]:
print(classification_report(y_test,predictions))
print("Accuracy:",accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      9069
           1       0.70      0.17      0.28       231

   micro avg       0.98      0.98      0.98      9300
   macro avg       0.84      0.59      0.63      9300
weighted avg       0.97      0.98      0.97      9300

Accuracy: 0.9776344086021506